// Fonts

$default-input-text: 16px;

// Margins

$default-margin-left: 10%;
$default-margin-right: 10%;
$default-margin-top: 100px;
$default-margin-bottom: 100px;

// Colors

$black: #000;
$white: #FFF;
$blue500: #1968fc;
$grey100: #ccd1d9;
